<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <title>Create Article</title>
</head>
<body>
    <div class="container">
        <div class="row navbar bg-light align-items-center">
            <div class="col-6">
                <a class="nav-link" href="/home"><h4>pyBook</h4></a>
            </div>
            <div class="col-6">
                <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" id="signup_link" href="/signup">SignUp</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="signin_link" href="/signin">SignIn</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="signout_link" href="#">SignOut</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="myinfo_link" href="/myinfo">MyInfo</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <form>
                    <dlv>
                        <select class="form-select" id="prod_category">
                            <option value="0">인문</option>
                            <option value="1">사회과학</option>
                            <option value="2">자연과학</option>
                            <option value="3">의학</option>
                            <option value="4">경제/경영</option>
                            <option value="5">공학</option>
                            <option value="6">음악</option>
                            <option value="7">미술</option>
                            <option value="8">기타</option>
                        </select>
                        <label for="title_input" class="form-label mt-3">*제목</label>
                        <input type="text" class="form-control" id="title_input">
                        <div class="text-danger mt-1" id="title_input_msg">&nbsp;</div>
                        <label for="pic_input" class="form-label mt-3">사진</label>
                        <input type="file" class="form-control" id="pic_input">
                        <label for="desc_input" class="form-label mt-3">설명</label>
                        <textarea type="text" class="form-control" id="desc_input" rows="4"></textarea>
                        <label for="price_input" class="form-label mt-3">*가격</label>
                        <input type="text" class="form-control" id="price_input">
                        <div class="text-danger mt-1" id="price_input_msg">&nbsp;</div>
                    </dlv>
                </form>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-4 text-center">
                <button type="button" class="btn btn-primary" id="submit_button">제출</button>
                <button type="button" class="btn btn-secondary" id="cancel_button">취소</button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="static/js/navbar.js"></script>
<script>
    let category = document.querySelector('#prod_category');
    let title = document.querySelector('#title_input');
    let picture = document.querySelector('#pic_input');
    let desc = document.querySelector('#desc_input');
    let price = document.querySelector('#price_input');

    let title_msg = document.querySelector('#title_input_msg');
    let price_msg = document.querySelector('#price_input_msg');

    function checkTitleAndPrice() {
        let isTitleValid = title.value.length > 0 && title.value.length <= 25;

        if(!isTitleValid){
            title_msg.innerHTML = '제목을 1~25 길이로 입력해주세요.';
        }
        else{
            title_msg.innerHTML = ' ';
        }

        let isPriceValid = price.value > 0 && price.value < 100000;

        if(!isPriceValid){
            price_msg.innerHTML = '가격을 1~100,000원 사이로 입력해주세요.';
        }
        else{
            price_msg.innerHTML = ' ';
        }

        return isTitleValid && isPriceValid;
    }

    function onSubmitHandler() {
        let isTitleAndPriceValid = checkTitleAndPrice();

        if(isTitleAndPriceValid === true){
            let headerData = new Headers();
            let authToken = sessionStorage.getItem("authtoken");
            console.log('create_article.authtoken:', authToken);
            if(authToken){
                headerData.set("authtoken", authToken);
            }

            let formData = new FormData();

            formData.set("category", category.value);
            formData.set("title", title.value);
            formData.set("picture", picture.files[0]);
            formData.set("desc", desc.value);
            formData.set("price", price.value);

            fetch('/api/article/create', {
                method: 'POST',
                headers: headerData,
                body: formData
            }).then((response) => {
                return response.json();
            }).then((resBody) => {
                console.log('create_article.onSubmitHandler.success:', resBody["success"]);
                console.log('create_article.onSubmitHandler.articleNo:', resBody["articleNo"]);
            }).catch((error) => {
                console.log('[Error]create_article.onSubmitHandler:', error);
            });
        }
    }

    let submitButton = document.querySelector('#submit_button');
    submitButton.addEventListener('click', onSubmitHandler);

    function onCancelHandler() {
        history.back();
    }

    let cancelButton = document.querySelector('#cancel_button');
    cancelButton.addEventListener('click', onCancelHandler);
</script>
</html>