<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Display Article</title>
</head>
<body>
    <div class="container">
        <div class="row navbar bg-light align-items-center">
            <div class="col-6">
                <a class="nav-link" href="/home"><h4>pyBook</h4></a>
            </div>
            <div class="col-6">
                <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" id="signup_link" href="/signup">SignUp</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="signin_link" href="/signin">SignIn</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="signout_link" href="#">SignOut</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="myinfo_link" href="/myinfo">MyInfo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="create_article_link" href="/create_article">상품등록</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center" id="article_title_div">
        </div>
        <div class="row justify-content-center">
            <div class="col-9">
                <hr>
            </div>
        </div>
        <div class="text-center" id="confirm_deletion_div"></div>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center" id="article_desc_div">
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center" id="article_image_div">
            <div class="col-3" style="text-align: center">
                <figure class="figure" id="article_image_fig">
                </figure>
            </div>
        </div>
    </div>
    <div class="container mt-1">
        <div class="row justify-content-center">
            <div class="col-9">
                <hr>
            </div>
        </div>
        <div id="leave_reply_div">
            <div class="row justify-content-center align-items-center">
                <div class="col-1">
                </div>
                <div class="col-6">
                    <form>
                        <textarea type="text" class="form-control" id="reply_input" rows="2"></textarea>
                    </form>
                </div>
                <div class="col-2" id="leave_reply_button_div">
                    <button type="button" class="btn btn-primary" id="leave_reply_button">남기기</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-9">
                    <hr>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" id="display_reply_div">
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-2" style="text-align: center">
                <button type="button" class="btn btn-outline-dark" id="more_replies_button">더보기</button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/navbar.js"></script>
<script type="text/javascript" src="/static/js/display_article.js"></script>
<script>
    const replyInput = document.querySelector('#reply_input');
    const leaveReplyDiv = document.querySelector('#leave_reply_div');
    const leaveReplyButton = document.querySelector('#leave_reply_button');
    const displayReplyDiv = document.querySelector('#display_reply_div');
    const moreRepliesButton = document.querySelector('#more_replies_button');

    let baseIndex = 0;
    const numReplyRead = 3;

    function displayReply() {
        const authToken = sessionStorage.getItem("authtoken");
        if(!authToken){
            leaveReplyDiv.hidden = true;
        }
        const articleNo = getArticleNo();

        let formData = new FormData();

        formData.set("articleNo", articleNo);
        formData.set("baseIndex", baseIndex);

        fetch('/api/reply/get', {
            method: 'POST',
            body: formData
        }).then((response) => {
            return response.json();
        }).then((resBody) => {
            const replies = resBody["replies"];

            replies.forEach((reply) => {
                let replyRow = document.createElement('div');
                replyRow.className = 'row justify-content-center mt-2';
                replyRow.id = `reply_row-${reply["replyNo"]}`

                replyContent = `
                    <div class="row justify-content-center">
                        <div class="col-1">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2">
                                    ${reply["author"]}
                                </div>
                                <div class="col-7">
                                    ${reply["desc"]}
                                </div>
                            </div>
                        </div>
                        <div class="col-2" class="delete_reply_button_div">
                            <button type="button" class="btn btn-secondary btn-sm" data-replyno="${reply["replyNo"]}">삭제</button>
                        </div>
                    </div>`;

                replyRow.innerHTML = replyContent;

                let deleteButton = replyRow.querySelector('button');

                if(!authToken){
                    deleteButton.hidden = true;
                }
                else{
                    deleteButton.addEventListener('click', onDeleteReplyHandler);
                }

                displayReplyDiv.appendChild(replyRow);
            });

            if(resBody["moreReplies"] === false){
                moreRepliesButton.hidden = true;
            }

            baseIndex = baseIndex + numReplyRead;
        }).catch((error) => {
            console.log("[Error]getReply():", error);
        });
    }

    window.addEventListener('load', displayReply);
    moreRepliesButton.addEventListener('click', displayReply);

    function checkReplyInput() {
        return replyInput.value.length > 0;
    }

    function onLeaveReplyHandler() {
        const articleNo = getArticleNo();
        let isReplyInputValid = checkReplyInput();

        if(isReplyInputValid === true){
            let headerData = new Headers();
            let authToken = sessionStorage.getItem("authtoken");
            if(authToken){
                headerData.set("authtoken", authToken);
            }

            let formData = new FormData();

            formData.set("articleNo", articleNo);
            formData.set("reply", replyInput.value);

            fetch('/api/reply/leave', {
                method: 'POST',
                headers: headerData,
                body: formData
            }).then((response) => {
                return response.json();
            }).then((resBody) => {
                let replyRow = document.createElement('div');
                replyRow.className = 'row justify-content-center mt-2';
                replyRow.id = `reply_row-${resBody["replyNo"]}`

                replyContent = `
                    <div class="row justify-content-center">
                        <div class="col-1">
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2">
                                    ${resBody["author"]}
                                </div>
                                <div class="col-7">
                                    ${resBody["desc"]}
                                </div>
                            </div>
                        </div>
                        <div class="col-2" class="delete_reply_button_div">
                            <button type="button" class="btn btn-secondary btn-sm" data-replyno="${resBody["replyNo"]}">삭제</button>
                        </div>
                    </div>`;

                replyRow.innerHTML = replyContent;
                displayReplyDiv.insertBefore(replyRow, displayReplyDiv.firstChild);
            }).catch((error) => {
                console.log('[Error]create_article.onSubmitHandler:', error);
            });
        }
    }

    leaveReplyButton.addEventListener('click', onLeaveReplyHandler);

    function onDeleteReplyHandler(event) {
        const replyNo = event.currentTarget.dataset.replyno;

        let headerData = new Headers();
        const authToken = sessionStorage.getItem("authtoken");
        if(authToken){
            headerData.set("authtoken", authToken);
        }

        let formData = new FormData();

        formData.set("replyNo", replyNo);

        fetch('/api/reply/delete', {
            method: 'POST',
            headers: headerData,
            body: formData
        }).then((response) => {
            return response.json();
        }).then((resBody) => {
            if(resBody["success"] === true){
                console.log('onDeleteReplyHandler():', replyNo);

                const targetReplyRowId = `#reply_row-${replyNo}`;
                const targetReplyRow = document.querySelector(targetReplyRowId);
                targetReplyRow.remove();
            }
        }).catch((error) => {
            console.log('[Error]onDeleteReplyHandler():', error);
        });
    }

</script>
</html>