<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Display Article</title>
</head>
<body>
    <div class="container">
        <div class="row navbar bg-light align-items-center">
            <div class="col-6">
                <a class="nav-link" href="/home"><h4>pyBook</h4></a>
            </div>
            <div class="col-6">
                <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" id="signup_link" href="/signup">SignUp</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="signin_link" href="/signin">SignIn</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="signout_link" href="#">SignOut</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="myinfo_link" href="/myinfo">MyInfo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="create_article_link" href="/create_article">상품등록</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center" id="article_title_section">
        </div>
        <div class="row justify-content-center">
            <div class="col-9">
                <hr>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center" id="article_desc_section">
        </div>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center" id="article_image_section">
            <div class="col-9" style="text-align: center">
                <figure class="figure" id="article_image_fig">
                </figure>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/navbar.js"></script>
<script>
    function getArticleNo() {
        const location = window.location.href;
        const url = new URL(location);
        const articleNo = url.pathname.split('/')[2];

        return articleNo;
    }

    function displayArticle(categoryData, titleData, authorData, descData, imageURL) {
        let titleSection = document.querySelector('#article_title_section');
        let descSection = document.querySelector('#article_desc_section');
        //let imageSection = document.querySelector('#article_image_section');
        let imageFigure = document.querySelector('#article_image_fig');

        let titleDiv = document.createElement('div');
        titleDiv.className = 'col-7';
        titleDiv.id = 'article_title';
        title = '[' + categoryData + '] ' + titleData
        titleDiv.appendChild(document.createTextNode(title));
        titleSection.appendChild(titleDiv);

        let authorDiv = document.createElement('div');
        authorDiv.className = 'col-2';
        authorDiv.style = 'text-align: center';
        authorDiv.id = 'article_author';
        authorDiv.appendChild(document.createTextNode(authorData));
        titleSection.appendChild(authorDiv);

        let descDiv = document.createElement('div');
        descDiv.className = 'col-9';
        descDiv.id = 'article_desc';
        descDiv.appendChild(document.createTextNode(descData));
        descSection.appendChild(descDiv);

        if(imageURL){
            let image = document.createElement('img');
            image.src = imageURL;
            image.className = 'figure-img img-fluid rounded';
            imageFigure.appendChild(image);
        }
    }

    function getArticle() {
        articleNo = getArticleNo();

        let formData = new FormData();
        formData.append("articleNo", articleNo);

        fetch('/api/article/display', {
            method: 'POST',
            body: formData
        }).then((response) => {
            return response.json();
        }).then((resBody) => {
            console.log('getArticle().resBody:', resBody);
            let article = resBody["article"];
            displayArticle(article["category"], article["title"], article["author"],
            article["description"], article["picture"]);
        }).catch((error) => {
            console.log('[Error]getArticle():', error);
        });
    }

    window.addEventListener('load', getArticle);


</script>
</html>