<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>pyBook</title>
</head>
<body>
    <div class="navbar">
        <div id="logo">pyBook</div>
        <div id="signup"><a href="/signup">SignUp</a></div>
        <div id="signin"><a href="/signin">SignIn</a></div>
        <div id="signout"><a href="/signout">SignOut</a></div>
        <div id="myinfo"><a href="/myinfo">MyInfo</a></div>
    </div>
    <div class="contents">
        contents
    </div>
</body>
<script>
    let myInfo = document.querySelector('#myinfo');
    //myInfo.style.display = "none";
</script>
</html>